.header-directory {
    align-items: center;
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  .directory-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
  }
  
  .user-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    margin: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #cce5ff; 
  }
  
  .user-card:hover {
    background-color: #e6f7ff; 
  }
  
  .user-card a {
    text-decoration: none;
    color: #333;
  }
  
  .user-details {
    display: flex;
    justify-content: space-between;
  }
  
  /* responsive styles for smaller screens */
  @media only screen and (max-width: 600px) {
    .user-card {
      width: 100%; 
      margin: 15px 0; 
    }
  }
  